---
url: /
layout: layouts/base.njk
css: index.css
---

{% for page in search.pages('post') %}
    <div class='content'>
        {{ page.data.content | md | safe }}
    </div>
    {% if not loop.last %}
        <div class='divider'></div>
    {% endif %}
{% endfor %}
