.content {
    font-size: large;
}

@media screen and (min-width: 400px) {
    .content::first-letter {
        float: left;
        padding-right: 0.1em;
        font-size: 4em;
        line-height: 0.98;
    }
}

.divider {
    height: 1px;
    width: 64px;
    margin: 20% auto 10% auto;
}

@media (prefers-color-scheme: dark) {
    .divider {
        background: #757575;
    }
}

@media (prefers-color-scheme: light) {
    .divider {
        background: #bdbdbd;
    }
}
